:root {
    --top-header : #697b8d;
    --cards : rgba(255, 255, 255, 0.6);
    --top-right : .75rem;
}

html,body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow: visible;

    line-height: 1.5;


}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}


.head {
    z-index: 5;
    display: grid;
    flex-wrap: wrap;
    grid-template-rows: repeat(4, 20px);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

    width: 100vw;
    position: fixed;

    overflow: hidden;

    text-align: center;
    background-color: var(--top-header);
    opacity: 100%;

    color: white;
    box-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
    0 3px  30px rgba(0, 0, 0, 0.5);;

    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
    0 3px  30px rgba(0, 0, 0, 0.5);

}

#REACT {
    //justify-self: end;
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
    justify-self: right;
    padding-right: 10%;

    font-size: var(--top-right);
}
#AWS {
    grid-row: 2 / span 1;
    grid-column: 4 / span 1;
    justify-self: right;
    padding-right: 10%;

    font-size: var(--top-right);
}
#DEPLOYMENT {
    grid-row: 3 / span 1;
    grid-column: 4 / span 1;
    justify-self: right;
    padding-right: 10%;

    font-size: var(--top-right);
}

#home {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;

    font-size: 2rem;
    justify-self: left;
    padding-left: 25px;

    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
    0 3px  30px rgba(0, 0, 0, 0.5);

}
.introParagraph {
    z-index: 4;
    text-align: center;
    padding: 20px;
    background-image: url("https://lh3.googleusercontent.com/zWJ8UqQHXYoq-eQL137bYxrBxhF8UXYPIkuEW_QojgHG4kGTm6YYWf1IWOlugEtNQMbenKZ_4XtAUKYU0zUUZJdHu3oOqUs5GYiyvG1fF4uQbXN0pAZRUD7x3-alzzknoK5nTzD_upVgLhivRBI7wcvODQL0tHIlmGxtSKvzJ6TIegJNWtCBenzrL9s4_LvqNbL9fb0zNqPqHCqOQIeIuNUSoqvUBZmScqi_AfEcJfA_f70TLeZZ7PZweaONDk2LR1d_wa7jcrLmc0nSxweP2Sd7cnNAUSqNH34qBDX4onuosb2jHj8P_NcFQGB5SoEqXwJ3ALdFR_PyGatMlt3Dy6zSUYo9p5wf6BLOtZmpVsNYkGLzVj8wQ0W3x5wJjrIVAq94IrZUXylshQGr4AQHSIzJ5cpcqDQHlbjm3nOEnUYow5-5UJY6VtMa-Jgh0yzNpUICph8Uv-ZPZCNlcRyW4EVJHoUJw7Vj0aa0db6x228nf70rx0374ZQHxOV0MdUBbT9oicGXbp1PgoWJG1zP_UeJ3jxAbD1f0rij-wesV-CN8cicQARQzF4QeUYRRMUbXkh8jbE5nYWzBSkPd5ktH7DHzAiXcBbtbBqktOs04hPWrHPzJAqemgGucB1igKsTZCTcQR1obHAzUBZXGXmfp-Qo4EZWppXLi35CpqMjZkO56EYan3RR9ZhtBvFvFdW9o-bS5r8OY2kDlFD1lEF1ZhPjNUgdElUfaZQt9JRBNBVg0heaqqvmeBpU9IUN8g=w1893-h1262-no?authuser=0");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    font-size: 1rem;
    color: white;

    height: 600px;



    box-shadow: 10px 10px 3em grey;


 }

#jobDescription {
    grid-row: 3 / span 1;
    grid-column: 1 / span 3;

    font-size: 20px;
    justify-self: left;
    padding-left: 25px;
}

#intro {
    grid-row: 1 / span 3;
    grid-column: 3 / span 1;


    max-font-size: 20px;
    min-font-size: 10px;

    align-self: center;
    justify-self: center;
}


.main {
    position: relative;
    top: 110px;
}
/*  start cards - end header */
.grid {
    z-index: 3;
    display: flex;
    align-content: center;
    justify-content: space-evenly;


    flex-wrap: wrap;
    text-align: center;
    font-size: 1rem;

    padding: 70px;
    background-color: #add2eb;
    grid-gap: 40px;




}

.grid h1 {
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: #17353d;
    border-radius: 30px;




    border-color: #17353d;
    border-width: 2px;
    border-style: solid;
    box-shadow: 10px 10px 3em grey;
}

.item1 , .item2, .item3, .item4, .item5, .item6 {

    text-shadow: 2px 2px 5px grey;
    margin: 5px;
    opacity: 95%;
    background-color: var(--cards);
    padding: 20px;
    border-radius: 30px 30px 0 30px;
    color: #17353d;


    box-shadow: 10px 10px 2em grey;

    transition: box-shadow 500ms linear 0.2s,
    opacity 500ms linear 0.2s,
    padding 1500ms ease-in-out 0.2s;




}

img {
    width: 200px;
    border-radius: 30px 30px 0 30px;

    border-color: #17353d;
    border-width: 2px;
    border-style: solid;
    box-shadow: 5px 5px 10px black;
    opacity: inherit;

}

/* end flexbox - start paragraphs */

.section1 {
    background-color: #8A978A;
    padding: 100px;
    text-align: center;
    color: white;
}







.footer {
    background-color: #697b8d;
}



/* transition section */

.item3:hover, .item2:hover, .item1:hover, .item4:hover, .item5:hover, .item6:hover {
    box-shadow: 10px 10px 1em black;
    opacity: 100%;
    padding: 40px;
}












































/* media section */
@media screen and (min-width: 100px) and (max-width: 1000px) {
    #home {
        font-size: 30px;
    }
    #jobDescription {
        font-size: 15px;
    }

    #AWS, #DEPLOYMENT, #REACT {
        opacity: 0%;
    }

    .introParagraph {
        font-size: 15px;
    }
    .grid h1 {
        font-size: 50px;
        writing-mode: horizontal-tb;
        text-orientation: upright;
        padding: 2px;
    }

    .grid {
        grid-gap: 2px;
    }


}
