:root {
    --top-header : #4c7096;
    --cards : rgba(255, 255, 255, 0.6);
    --top-right : .75rem;

    --first-row : white;
    --second-row : #4c7096;
    --third-row : white;
}

html,body {
    font-family: "Segoe UI";

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow: visible;


}



body {
    margin: 0;
    padding: 0;
    background-color: white;
}


.head {
    z-index: 5;
    display: grid;
    flex-wrap: wrap;
    grid-template-rows: repeat(4, 20px);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

    width: 100vw;
    position: fixed;

    overflow: hidden;

    text-align: center;
    background-color: var(--top-header);
    opacity: 100%;

    color: white;
    box-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
    0 3px  30px rgba(0, 0, 0, 0.5);;



}

#REACT {
    //justify-self: end;
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
    justify-self: right;
    padding-right: 10%;

    font-size: var(--top-right);
}
#AWS {
    grid-row: 2 / span 1;
    grid-column: 4 / span 1;
    justify-self: right;
    padding-right: 10%;

    font-size: var(--top-right);
}
#DEPLOYMENT {
    grid-row: 3 / span 1;
    grid-column: 4 / span 1;
    justify-self: right;
    padding-right: 10%;

    font-size: var(--top-right);
}

#home {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;

    font-size: 2rem;
    justify-self: left;
    padding-left: 25px;

    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
    0 3px  30px rgba(0, 0, 0, 0.5);

}
.introParagraph {

    height: 600px;


    position: relative;
    top: 0px;
    z-index: 4;


    text-align: center;

    padding: 20px;
    background-image: url("https://lh3.googleusercontent.com/AZ6Mn81aRZVK9Nk1_3uwGGQxutxztTgr5umFK6oHqtIqwL74ycOSoo4H76ujj12Ytbil-MKBaxCMccvXMiXBmTwRXbGytYOHXWD3ATMt3K9FnitEAdYhKSnY6HEUPBHXTN7aggXFkaSA1SsvV-CcpmfKcoOc0blupeDQerrc64TdPTC-JfWmfwXNt5_xE-43jMqcnksI1FTuPtw6qib59LRF75lm-H0_h4eGCT3sZIj-cSNPqEhluCcgt3MYl-qsyegs_gQ71zhn1nnWERaRklqKu3fnTXXsT_Walghcwmmwy8XR5cIl-11HNBl3zeeT_S0uwHZEkRjmmY9FkQJ653H4kC5ppenWcPn0W63XzRVnqoeYlrmwkEjjt9H5Y4A6JY_YIM8OxfWi1JGuTgd8KrNJ6hz33eqNgVoJU41STlEfrUk8v8KBumzLHMArAZB1g53jptQUQM4fBiNQyCLL48p_JeLDvo6uISWFseShHv1Bsatsh5kcvkxqnpvwLPTUQ-P4_gWopQJQwxKNR3r84h2ccGhu0WYCzk-JCZCdrtnDM1AY9xSLClFVfiZGAMwuZIuYwefG4WjRRNNtCFJ3Uha6DZIL2uYWMSTAmIJcWG0c9_x0geNIOosun1TZzgbVm_WEXdT2iXfm2neVwfRDnmx09Y5m-xlj-ILw30l3ZK3LZ5fOuHgpmC8d9X8UaXmJ92y28VC5fqwrwF0SMU10qmXjAgQIfAU_bjqgSz2thGSaTRdp4r4LYIPmeOY=w1278-h719-no?authuser=0");
    background-position-x: right;
    background-size: cover;

    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 600;

    padding: 50px;
 }

.introParagraph h1 {

    font-size: 5rem;

    font-family: "Segoe UI";
    text-shadow: 0 2px 0 #ccc, 0 2px 0 #ccc,
    0 3px  30px rgba(0, 0, 0, 100%);


}




#portfolio {
    color: white;
    font-size: 4.5em;

    text-align: center;

    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
    0 3px  30px rgba(0, 0, 0, 0.5);

    background: #4c7096;
    margin: 0px;
    height: 50px;




}

#jobDescription {
    grid-row: 3 / span 1;
    grid-column: 1 / span 3;

    font-size: 20px;
    justify-self: left;
    padding-left: 25px;

    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
    0 3px  30px rgba(0, 0, 0, 0.5);
}

#intro {
    grid-row: 1 / span 3;
    grid-column: 3 / span 1;


    max-font-size: 20px;
    min-font-size: 10px;

    align-self: center;
    justify-self: center;
}


.main {
    position: relative;
    top: 110px;
}
/*  start cards - end header */
.grid {
    z-index: 3;
    display: flex;
    align-content: center;
    justify-content: space-evenly;


    flex-wrap: wrap;
    text-align: center;
    font-size: 1rem;

    padding: 70px;
    background-color: var(--second-row);
    grid-gap: 40px;




}

.grid h1 {
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: #17353d;
    border-radius: 30px;

    border-color: #17353d;
    border-width: 2px;
    border-style: solid;
    box-shadow: 10px 10px 3em grey;
}

.item1 , .item2, .item3, .item4, .item5, .item6 {
    max-width: 400px;

    overflow-wrap: break-word;
    font-weight: bold;
    font-size: 20px;

    text-shadow: 2px 2px 5px grey;
    margin: 10px;
    opacity: 95%;
    background-color: var(--cards);
    padding: 20px;

    border-radius: 0px;

    color: #17353d;


    box-shadow: 10px 10px 2em grey;

    transition: box-shadow 1s linear 0.2s,
    opacity 500ms linear 0.2s,
    padding 1s ease-in 0.1s,
    margin 1s ease-in 0.1s,
    border-radius .5s ease-in 0.1s;
}

img {
    width: 200px;
    border-radius: inherit;

    border-color: #17353d;
    border-width: 2px;
    border-style: solid;
    box-shadow: 5px 5px 10px black;
    opacity: inherit;
}

/* end flexbox - start paragraphs */

.section1 {
    background-color: var(--third-row);
    padding: 100px;
    text-align: center;

    font-weight: bold;

}



.footer {

    font-weight: bold;
    background-color: #697b8d;

    display: flex;

    align-items: flex-end;
    justify-content: center;
    color: white;

    height: 200px;
}

.footer p {
    margin: 5px;
}



/* transition section */

.item3:hover, .item2:hover, .item1:hover, .item4:hover, .item5:hover, .item6:hover {
    box-shadow: 10px 10px 1em black;
    opacity: 100%;
    padding: 30px;
    margin: 0px;
    border-radius: 10px;
}












































/* media section */
@media screen and (min-width: 100px) and (max-width: 1000px) {
    #home {
        font-size: 30px;
    }
    #jobDescription {
        font-size: 15px;
    }

    #AWS, #DEPLOYMENT, #REACT {
        opacity: 0%;
    }

    .introParagraph {
        font-size: 15px;
        height: 200px;
    }
    .grid h1 {
        font-size: 50px;
        writing-mode: horizontal-tb;
        text-orientation: upright;
        padding: 2px;
    }

    .grid {
        grid-gap: 2px;
    }

    .introParagraph h1 {
        font-size: 25px;
    }


}
